{% extends "loggedBase.html" %}

{% block footer %}

    <script src="/js/defDate.js"></script>

    <script>
                    let today = new Date();
                    let date = new Date(today.getFullYear(), today.getMonth()+1, 0);
                    let yr = date.getFullYear();
                    let month = date.getMonth() < 9 ? '0' + (date.getMonth()+1) : date.getMonth()+1;
                    let day = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate();
                    let lastDayOfThisMonth = yr + '-' + month + '-' + day;
                    $("#date").attr("max", lastDayOfThisMonth);
    </script>

{% endblock %}

{% block main %}

<article id="main-content" class="py-3 height-navbar">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-md-8 mx-auto py-4">
                <div class="card border-primary">
                    <div class="card-header bg-primary py-2 text-light text-center text-capitalize">
                        <h3 class="h5 m-0"><i class="icon-basket"></i>dodaj wydatek</h3>
                    </div>
                    <div class="card-body border-primary py-2">
                        <form action="/expense/create" method="post">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text px-2"><i class="icon-money"></i></span>
                                </div>
                                <input type="number" name="amount" id="amount" step="0.01" class="form-control" placeholder="podaj kwotę" onfocus="this.placeholder=''" onblur="this.placeholder='podaj kwotę'" value="{{ expense.amount }}" required>
                            </div>
                            {% if expense.errors['amount'] is defined %}
                                <p class="mt-1 text-danger small">{{ expense.errors['amount'] }}</p>
                            {% endif %}
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
                                </div>
                                <input type="date" name="date" id="date" class="form-control" min="2000-01-01" value="{{ expense.date }}" required>
                            </div>
                            {% if expense.errors['date'] is defined %}
                                <p class="mt-1 text-danger small">{{ expense.errors['date'] }}</p>
                            {% endif %}
                            <div class="input-group mt-3">
                                
                                <select class="form-control" name="method" required>
                                    <option value="" disabled selected hidden>Wybierz Sposób Płatności</option>
                                    {% for method in methods %}
                                        <option value="{{ method.name }}">{{ method.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mt-3">
                                
                                <select class="form-control" name="cattegory" required>
                                    <option value="" disabled selected hidden>Wybierz Kategorię</option>
                                    {% for cattegory in cattegories %}
                                        <option value="{{ cattegory.name }}">{{ cattegory.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text px-2"><i class="icon-edit"></i></span>
                                </div>
                                <input type="text" name="comment" id="comment" class="form-control" placeholder="komentarz" onfocus="this.placeholder=''" onblur="this.placeholder='komentarz'">
                            </div>
                            {% if expense.errors['comment'] is defined %}
                                <p class="mt-1 text-danger small">{{ expense.errors['comment'] }}</p>
                            {% endif %}
                            <div class="d-flex justify-content-around">
                                <button type="submit" class="btn btn-outline-success mt-3 py-1"><i class="icon-plus-circled"></i>dodaj</button>
                                <a href="/" class="btn btn-outline-danger mt-3 py-1">
                                    <i class="icon-cancel-circled"></i>anuluj
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}