<div class="modal-header">
    <h3 class="modal-title">Edytuj kategorię</h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <form id="form-edit-expense-cattegory">
        <label class="control-label mb-1">Nazwa kategorii:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
            </div>
            <input type="text" name="expense-cattegory" id="{{ cattegory.id }}" value="{{ cattegory.name }}" class="form-control" required>
        </div>
        {% if cattegory.errors['name'] is defined %}
            <p class="mt-1 text-danger small">{{ cattegory.errors['name'] }}</p>
        {% endif %}
        <div class="checkbox mt-2">
            <label class="mb-0"> 
                <input type="checkbox" name="cattegory-limit" class="cattegory-limit"  {% if cattegory.is_set_limit %} checked {% endif %}/> Włącz limit kategorii
            </label>
        </div>
        <div class="input-group my-1 w-50">
            <div class="input-group-prepend">
                <span class="input-group-text px-2"><i class="icon-money"></i></span>
            </div>
            <input type="number" name="cattegory-limit-amount" step="0.01" class="form-control cattegory-limit-amount" {% if cattegory.is_set_limit %} 
            value = "{{ cattegory.cattegory_limit}}"
            {% else %}
            disabled
            {% endif%}>
        </div>
        {% if cattegory.errors['cattegory_limit'] is defined %}
            <p class="mt-1 text-danger small">{{ cattegory.errors['cattegory_limit'] }}</p>
        {% endif %}
        <div class="d-flex justify-content-between mt-2">
            <button type="submit" class="btn btn-outline-success py-1"><i class="icon-plus-circled"></i>zatwierdź</button>
            <button type="button" class="btn btn-outline-danger py-1" data-dismiss="modal"><i class="icon-cancel-circled"></i>anuluj</button>
        </div>
    </form>
</div>