{% extends "base.html" %}


{% block footer %}

<script src="/js/app.js"></script>

    <script>
        $(document).ready(function(){
            $('#formReset').validate({
                rules:{
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    passwordConfirm: {
                        required: true,
                        equalTo: '[name = "password"]'
                    }
                },
                messages:{
                    password:{
                        required: 'To pole jest wymagane',
                        minlength: 'Proszę podać minimum 6 znaków'
                    },
                    passwordConfirm:{
                        required: 'To pole jest wymagane',
                        equalTo: 'Podane hasła nie są identyczne'
                    }
            },

            errorPlacement: function(label, element) {
            label.addClass('mt-1 mb-0 text-danger small');
            label.insertAfter(element.closest(".input-group"));
            },
            wrapper: 'p'
        });
    });
    </script>


{% endblock %}

{% block main %}

    <article class="py-3">
        <div class="container">
            <div class="row align-items-start justify-content-center">
                <div class="col-md-8 mx-auto py-4">
                    <div class="card border-primary">
                        <div class="card-header bg-primary py-2 text-light text-center ">
                            <h3 class="h5 m-0">Odzyskiwanie hasła</h3>
                        </div>
                        <div class="card-body border-primary pt-3 pb-2">
                            <form action="/password/reset-password" method="post" id="formReset">

                                <input type="hidden" name="token" value = "{{ token }}">
                                
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text px-2"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="nowe hasło" onfocus="this.placeholder=''" onblur="this.placeholder='nowe hasło'" value="{{ user.password }}" required>
                                </div>
                                {% if user.errors['password'] is defined %}
                                    <p class="mt-1 text-danger small">{{ user.errors['password'] }}</p>
                                {% endif %}
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text px-2"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" name="passwordConfirm" id="password-confirm" class="form-control" placeholder="powtórz nowe hasło" onfocus="this.placeholder=''" onblur="this.placeholder='powtórz nowe hasło'" value="{{ user.passwordConfirm }}" required>
                                </div>
                                {% if login != '' %}
                                    <p class="mt-3 mb-0 text-danger small">Niepoprawny login lub hasło </p>
                                {% endif %}
                                <button type="submit" class="btn btn-outline-primary btn-block mt-3 mb-2 py-2"><i class="icon-lock mr-2"></i>Zresetuj hasło</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}