{% extends "base.html" %}

{% block main %}

<article id="main-content" class="py-3 height">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto py-4">
                <div class="card border-primary">
                    <div class="card-header bg-primary py-2 text-light text-center ">
                        <h3 class="h5 m-0">Odzyskiwanie hasła</h3>
                    </div>
                    <div class="card-body border-primary py-3">
                        <p class="mb-2 mt-2 text-center">Na podany adres email została wysłana wiadomość.</p>
                        <p class="mb-2 mt-2 text-center">Sprawdź pocztę.</p>
                        <div class="d-flex justify-content-center">
                            <a href="/" class="btn btn-success pt-2 pb-1 px-5 my-1">OK</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}