{% extends "loggedBase.html" %}

{% block main %}

    <article id="main-content" class="py-5 height-navbar">
        <div class="container">
            <div class="row">
                <div class="col px-0">
                    <div class="dropdown">
                        <button type="button" class="btn btn-success dropdown-toggle float-right" data-toggle="dropdown">
                            wybierz okres
                        </button>
                        <div class="dropdown-menu dropdown-menu-right py-0">
                            <button type="button" class="dropdown-item" id="currentMonth">Bieżący Miesiąc</button>
                            <button type="button" class="dropdown-item" id="previousMonth">Poprzedni Miesiąc</button>
                            <button type="button" class="dropdown-item" id="currentYear">Bieżący Rok</button>
                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#choose-period">Inny okres</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class="row" id="browseStatement">
                 
                <div class="col px-0 my-2 mx-auto">
                    <h2 class="h5 bg-primary text-light text-center py-2 mb-1"><i class="icon-chart-bar"></i>Przegląd bilansu z bieżącego miesiąca </br> (od {{ beginDate }} do {{ endDate }})</h2>
                    <div class="row p-2 m-0 border-bottom border-primary">
                        <div class="col-md-8 col-lg-6 px-1 d-flex align-items-center mx-auto">
                            <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                                <thead class="bg-primary text-light">
                                    <tr><th colspan="3" class="text-uppercase bg-success"> Przychody według kategorii</th></tr>
            
                                    {% if incomesAccordingToCattegories is empty %}
                                    
                                   <tr><th class="font-weight-normal"> Brak przychodów w wybranym okresie !</th></tr>
                                        </thead>
                                    
                                    {% else %}
                                    
                                        <tr><th>Lp.</th><th>Kategoria</th><th>Kwota</th></tr>
                                        </thead>
                                        <tbody>
                                    
                                        {% set iter = 1 %}
                                        {% set sum = 0 %}

                                        {% for income in incomesAccordingToCattegories %}
                                        
                                            <tr><td>{{ iter }}</td><td>{{ income.kategoria }}</td><td>{{ income.przychód }}</td></tr>
                                            {% set sum = sum + income.przychód %}
                                            {% set iter = iter + 1 %}
                                        
                                        {% endfor %}
                                        <tr><td>suma:</td><td></td><td>{{ sum|number_format(2, '.', '') }}</td></tr>
                                    

                                    {% endif %}
                                    
                            </tbody>
                            </table>  
                        </div>
                        <div class="col-md-8 col-lg-6 px-1 d-flex align-items-center mx-auto">
                            <table id="myTable" class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                                <thead class="bg-primary text-light">
                                    <tr><th colspan="3" class="text-uppercase bg-success"> Wydatki według kategorii</th></tr>';

                                    {% if expensesAccordingToCattegories is empty %}
                                    
                                        <tr><th class="font-weight-normal"> Brak wydatków w wybranym okresie !</th></tr>
                                         </thead>
                                     
                                    {% else %}
                                     
                                        <tr><th>Lp.</th><th>Kategoria</th><th>Kwota</th></tr>
                                        </thead>
                                        <tbody>
                                     
                                         {% set iter = 1 %}
                                         {% set sum = 0 %}
 
                                         {% for expense in expensesAccordingToCattegories %}
                                         
                                             <tr><td>{{ iter }}</td><td>{{ expense.kategoria }}</td><td>{{ expense.wydatek }}</td></tr>";
                                             {% set sum = sum + expense.wydatek %}
                                             {% set iter = iter + 1 %}
                                         
                                         {% endfor %}
                                         <tr><td>suma:</td><td></td><td>{{ sum|number_format(2, '.', '') }}</td></tr>
                                     
                                        </tbody>
                                    {% endif %}
                            </table>  
                        </div>
                    
                    </div>
            
                    <div class="row p-2 m-0 border-bottom border-primary">
                        <div class="col-md-10 col-lg-8 px-1 d-flex align-items-center mx-auto">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                                    <thead class="bg-primary text-light">
                                        <tr>
                                            <th colspan="5" class="text-uppercase bg-success"> Przychody zestawienie szczegółowe</th>
                                        </tr>
                                        
                                        {% set incomeSum = 0 %}
                                        {% if incomes is empty %}
                                    
                                            <tr>
                                                <th class="font-weight-normal"> Brak przychodów w wybranym okresie !</th>
                                            </tr>
                                        </thead>
                                            
                                        {% else %}
                                            {
                                                        <tr>
                                                            <th scope="col">Lp.</th>
                                                            <th scope="col">Kwota</th>
                                                            <th scope="col">Kategoria</th>
                                                            <th scope="col">Data</th>
                                                            <th scope="col">Komentarz</th>
                                                        </tr>
                                                    </thead>
                                                <tbody>
                                            
                                                {% set iter = 1 %}

                                                {% for income in incomes %}
                                                {
                                                    <tr><td>{{ iter }}</td><td>{{ income.amount }}</td><td>{{ income.name }}</td><td>{{ income.date_of_income }}</td><td>{{ income.income_comment }}</td></tr>
                                                    {% set incomeSum = incomeSum + income.amount %}
                                                    {% set iter = iter + 1 %}
                                                }
                                                {% endfor %}
                                                <tr><td>suma:</td><td>{{ incomeSum|number_format(2, '.', '') }}</td><td></td><td></td><td></td></tr>
                                            }
                                            </tbody>
                                        {% endif %}
                                        
                                </table>  
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-8 px-1 d-flex align-items-center mx-auto">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                                    <thead class="bg-primary text-light">
                                        <tr>
                                            <th colspan="6" class="text-uppercase bg-success"> Wydatki zestawienie szczegółowe</th></tr>';

                                        {% set expenseSum = 0 %}
                                        {% if expenses is empty %}
                                    
                                            <tr>
                                                <th class="font-weight-normal"> Brak wydatków w wybranym okresie !</th>
                                            </tr>
                                        </thead>
                                            
                                        {% else %}
                                            {
                                                <tr>
                                                    <th scope="col">Lp.</th>
                                                    <th scope="col">Kwota</th>
                                                    <th scope="col">Kategoria</th>
                                                    <th scope="col">Metoda Płatnosci</th>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Komentarz</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                            
                                                {% set iter = 1 %}

                                                {% for expense in expenses %}
                                                {
                                                    <tr>
                                                        <td>{{ iter }}</td>
                                                        <td>{{ expense.amount }}</td>
                                                        <td>{{ expense.cattegory }}</td>
                                                        <td>{{ expense.method }}</td>
                                                        <td>{{ expense.date_of_expense }}</td>
                                                        <td>{{ expense.expense_comment }}</td>
                                                    </tr>
                                                    {% set expenseSum = expenseSum + expense.amount %}
                                                    {% set iter = iter + 1 %}
                                                }
                                                {% endfor %}
                                                <tr><td>suma:</td><td>{{ expenseSum|number_format(2, '.', '') }}</td><td></td><td></td><td><td></td></td></tr>
                                            }
                                            </tbody>
                                        {% endif %}
                                </table>
                            </div> 
                        </div>
                    
                    </div>                    
                    <div class="row p-2 m-0 border-bottom border-primary">
                        <div class="col-md-10 col-lg-8 px-1 mx-auto">
                            <div>
                                <p class="bg-success h3 text-light pt-2 pb-1 text-center text-uppercase r">Bilans: {{ (incomeSum - expenseSum)|number_format(2, '.', '') }}</p>
                                 <p class="bg-primary text-center text-light p-1 mb-1">
                                     {% if (incomeSum - expenseSum) >= 0 %}
                                     Gratulacje, świetnie zarządzasz swoimi finansami!
                                     {% else %}
                                     Uwaga! Popadasz w długi!
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
                  
            </div>
            <div class="row mx-auto">
                <div class="col" id="piechart"></div>
            </div>
            
        </div>
    </article>

{% endblock %}

{% block footer %}

    <div class="modal bd-example-modal-sm fade" id="choose-period">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Wybierz okres</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="anotherPeriod">
                        <label class="control-label mb-1">Wybierz datę początkową:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
                            </div>
                            <input type="date" name="start-date" id="start-date" class="form-control" min="2000-01-01" required>
                        </div>
                        <label class="control-label mb-1">Wybierz datę końcową:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend d-flex justify-content-center">
                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                            </div>
                            <input type="date" name="end-date" id="end-date" class="form-control" required>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-outline-success py-1"><i class="icon-plus-circled"></i>zatwierdź</button>
                            <button type="button" class="btn btn-outline-danger py-1" data-dismiss="modal"><i class="icon-cancel-circled"></i>anuluj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}