<div class="col px-0 my-2 mx-auto">
    <h2 class="h5 bg-primary text-light text-center py-2 mb-1"><i class="icon-chart-bar"></i>Przegląd bilansu z bieżącego miesiąca </br> (od {{ beginDate|date("d-m-Y") }} do {{ endDate|date("d-m-Y") }})</h2>
    <div class="row p-2 m-0 border-bottom border-primary">
        <div class="col-md-8 col-lg-6 px-1 d-flex align-items-center mx-auto">
            <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                <thead class="bg-primary text-light">
                    <tr><th colspan="3" class="text-uppercase bg-success"> Przychody według kategorii</th></tr>

                    {% if incomesAccordingToCattegories is empty %}
                    
                   <tr><th class="font-weight-normal"> Brak przychodów w wybranym okresie !</th></tr>
                        </thead>
                    
                    {% else %}
                    
                        <tr><th>Lp.</th><th>Kategoria</th><th>Kwota</th></tr>
                        </thead>
                        <tbody>
                    
                        {% set iter = 1 %}
                        {% set sum = 0 %}

                        {% for income in incomesAccordingToCattegories %}
                        
                            <tr>
                                <td>{{ iter }}.</td>
                                <td>{{ income.kategoria }}</td>
                                <td>{{ income.przychód }}</td
                            ></tr>
                            {% set sum = sum + income.przychód %}
                            {% set iter = iter + 1 %}
                        
                        {% endfor %}
                        <tr><td>suma:</td><td></td><td>{{ sum|number_format(2, '.', '') }}</td></tr>
                    

                    {% endif %}
                    
            </tbody>
            </table>  
        </div>
        <div class="col-md-8 col-lg-6 px-1 d-flex align-items-center mx-auto">
            <table id="myTable" class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                <thead class="bg-primary text-light">
                    <tr><th colspan="3" class="text-uppercase bg-success"> Wydatki według kategorii</th></tr>

                    {% if expensesAccordingToCattegories is empty %}
                    
                        <tr><th class="font-weight-normal"> Brak wydatków w wybranym okresie !</th></tr>
                         </thead>
                     
                    {% else %}
                     
                        <tr><th>Lp.</th><th>Kategoria</th><th>Kwota</th></tr>
                        </thead>
                        <tbody id="expenses-according-to-cattegories">
                     
                         {% set iter = 1 %}
                         {% set sum = 0 %}

                         {% for expense in expensesAccordingToCattegories %}
                         
                            <tr>
                                <td>{{ iter }}.</td>
                                <td>{{ expense.kategoria }}</td>
                                <td>{{ expense.wydatek }}</td>
                            </tr>
                             {% set sum = sum + expense.wydatek %}
                             {% set iter = iter + 1 %}
                         
                         {% endfor %}
                         <tr><td>suma:</td><td></td><td>{{ sum|number_format(2, '.', '') }}</td></tr>
                     
                        </tbody>
                    {% endif %}
            </table>  
        </div>
    
    </div>

    <div class="row p-2 m-0 border-bottom border-primary">
        <div class="col-lg-10 px-1 d-flex align-items-center mx-auto">
            <div class="table-responsive text-nowrap">
                <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th colspan="6" class="text-uppercase bg-success"> Przychody zestawienie szczegółowe</th>
                        </tr>
                        
                        {% set incomeSum = 0 %}
                        {% if incomes is empty %}
                    
                            <tr>
                                <th class="font-weight-normal"> Brak przychodów w wybranym okresie !</th>
                            </tr>
                        </thead>
                            
                        {% else %}
                            
                                        <tr>
                                            <th scope="col">Lp.</th>
                                            <th scope="col">Kwota</th>
                                            <th scope="col">Kategoria</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Komentarz</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                <tbody>
                            
                                {% set iter = 1 %}

                                {% for income in incomes %}
                                
                                    <tr id="{{ income.ID }}">
                                        <td>{{ iter }}.</td>
                                        <td>{{ income.amount }}</td>
                                        <td>{{ income.name }}</td>
                                        <td>{{ income.date_of_income|date("d-m-Y") }}</td>
                                        <td>{{ income.income_comment }}</td>
                                        <td>
                                            <button type="button" class="p-0 btn btn-primary text-light edit-income" name="{{ income.ID }}" title="edytuj przychód" data-toggle="modal" data-target="#edit-income"><i class="icon-edit"></i></button>
                                            <button type="button" class="p-0 btn btn-danger text-light remove-income"  name="{{  income.ID }}" title="usuń przychód" data-toggle="modal" data-target="#remove-income"><i class="icon-trash"></i></button>
                                        </td>
                                    </tr>
                                    {% set incomeSum = incomeSum + income.amount %}
                                    {% set iter = iter + 1 %}
                                
                                {% endfor %}
                                <tr><td>suma:</td><td>{{ incomeSum|number_format(2, '.', '') }}</td><td></td><td></td><td></td><td></td></tr>
                            
                            </tbody>
                        {% endif %}
                        
                </table>  
            </div>
        </div>
        <div class="col-lg-10 px-1 d-flex align-items-center mx-auto">
            <div class="table-responsive text-nowrap">
                <table class="table table-dark table-bordered table-sm table-striped text-center table-hover mb-2">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th colspan="7" class="text-uppercase bg-success"> Wydatki zestawienie szczegółowe</th></tr>

                        {% set expenseSum = 0 %}
                        {% if expenses is empty %}
                    
                            <tr>
                                <th class="font-weight-normal"> Brak wydatków w wybranym okresie !</th>
                            </tr>
                        </thead>
                            
                        {% else %}
                            
                                <tr>
                                    <th scope="col">Lp.</th>
                                    <th scope="col">Kwota</th>
                                    <th scope="col">Kategoria</th>
                                    <th scope="col">Metoda Płatnosci</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Komentarz</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                            
                                {% set iter = 1 %}

                                {% for expense in expenses %}
                                    <tr>
                                        <td>{{ iter }}.</td>
                                        <td>{{ expense.amount }}</td>
                                        <td>{{ expense.cattegory }}</td>
                                        <td>{{ expense.method }}</td>
                                        <td>{{ expense.date_of_expense|date("d-m-Y") }}</td>
                                        <td>{{ expense.expense_comment }}</td>
                                        <td>
                                            <button type="button" class="p-0 btn btn-primary text-light edit-expense"  title="edytuj wydatek"><i class="icon-edit"></i></button>
                                            <button type="button" class="p-0 btn btn-danger text-light remove-expense" title="usuń wydatek"><i class="icon-trash"></i></button>
                                        </td>
                                    </tr>
                                    {% set expenseSum = expenseSum + expense.amount %}
                                    {% set iter = iter + 1 %}
                                {% endfor %}
                                <tr><td>suma:</td><td>{{ expenseSum|number_format(2, '.', '') }}</td><td></td><td></td><td></td><td><td></td></td></tr>
                            
                            </tbody>
                        {% endif %}
                </table>
            </div> 
        </div>
    
    </div>                    
    <div class="row p-2 m-0 border-bottom border-primary">
        <div class="col-md-10 col-lg-8 px-1 mx-auto">
            <div>
                <p class="bg-success h3 text-light pt-2 pb-1 text-center text-uppercase r">Bilans: {{ (incomeSum - expenseSum)|number_format(2, '.', '') }}</p>
                 <p class="bg-primary text-center text-light p-1 mb-1">
                     {% if (incomeSum - expenseSum) >= 0 %}
                     Gratulacje, świetnie zarządzasz swoimi finansami!
                     {% else %}
                     Uwaga! Popadasz w długi!
                    {% endif %}
                </p>
            </div>
        </div>
    </div> 
</div>


<div class="modal bd-example-modal-sm fade" id="edit-income">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="edit-inc">lalala</div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade" id="remove-income">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="remove-inc"></div>
    </div>
</div>

<script>
    $(document).on("click", ".edit-income", function() {
        var id = $(this).attr("name");
        alert(id);
    });

    $(document).on("click", ".remove-income", function() {
        var id = $(this).attr("name");
        $("#remove-inc").load('/income/remove', {
            id: id
        }); 
    });

    $("#remove-inc").on("click", ".confirm-remove", function(){
        var id = $(this).attr("name");
        $("#remove-inc").load('/income/destroy', {
                id: id
        }); 
    });

    $('#remove-income').on('hidden.bs.modal', function () {
        $("#browseStatement").load("/browse-statement/render-statement", function(){drawChart();});
    });

    $(document).on("click", ".remove-expense", function() {
        alert("usuń");
    });
    $(document).on("click", ".edit-expense", function() {
        alert("edytuj");
    });


</script>