<div class="small">
    <div class="py-4">
    <p class="mb-3 border-bottom border-primary">nazwa użytkownika: <span class="font-weight-bold"> {{ current_user.login }} </span> </p>
    <p class="mb-3 border-bottom border-primary">adres email: <span class="font-weight-bold"> {{ current_user.email }} </span> </p>
    </div>
    <div class="row">
        <div class="col-xl-6 my-1">
            <button type="button" class="btn btn-block btn-primary edit-data" data-toggle="modal" data-target="#edit-data"><span class="px-2" ><i class="icon-user"></i></span>edytuj swoje dane</button>
        </div>
        <div class="col-xl-6 my-1">
            <button type="button" class="btn btn-block btn-primary"><span class="px-2"><i class="icon-lock"></i></span>zmień hasło</button>
        </div>
        <div class="col-xl-6 my-1">
            <button type="button" class="btn btn-block btn-danger"><span class="px-2"><i class="icon-trash"></i></span>usuń wszystkie przychody i wydatki</button>
        </div>
        <div class="col-xl-6 my-1">
            <button type="button" class="btn btn-block btn-danger"><span class="px-2"><i class="icon-user-times"></i></span>usuń konto</button>
        </div>
    </div>

</div>