{% extends "loggedBase.html" %}

{% block footer %}

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-income-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="inc-cattegory"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-expense-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="exp-cattegory"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-payment-method">
    <div class="modal-dialog">
        <div class="modal-content" id="pay-method"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="edit-income-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-inc-cattegory"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="edit-expense-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-exp-cattegory"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="edit-payment-method">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-pay-method"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="remove-income-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="remove-inc-cat"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="remove-expense-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="remove-exp-cat"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="remove-payment-method">
    <div class="modal-dialog">
        <div class="modal-content" id="remove-pay-met"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="edit-data">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-user-data"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="change-password">
    <div class="modal-dialog">
        <div class="modal-content" id="change-pass"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="remove-each-incomes-and-expenses">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="remove-each-inc-and-exp"></div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="delete-account">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="confirm-delete-account"></div>
    </div>
</div>



<script>

    $(document).ready(function() {

        $("#incomes-cattegories-collapse").on("click", ".income-cattegory-edit", function(){
            var name = $(this).attr("id").replaceAll("-"," ");
            $("#edit-inc-cattegory").load('/income-cattegory/edit', {
                name: name
            });
        });

        $("#payment-methods-collapse").on("click", ".payment-method-edit", function(){
            var name = $(this).attr("id").replaceAll("-"," ");
            $("#edit-pay-method").load('/payment-method/edit', {
                name: name
            });
        });

        $("#expenses-cattegories-collapse").on("click", ".expense-cattegory-edit", function(){
            var name = $(this).attr("id").replaceAll("-"," ");
            $("#edit-exp-cattegory").load('/expense-cattegory/edit', {
                name: name
            });
            
        });
        
        $("#incomes-cattegories-collapse").on("click", ".remove-income-cattegory", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-inc-cat").load('/income-cattegory/remove', {
                name: name
            }); 
        });

        $("#payment-methods-collapse").on("click", ".remove-payment-method", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-pay-met").load('/payment-method/remove', {
                name: name
            }); 
        });

        $("#expenses-cattegories-collapse").on("click", ".remove-expense-cattegory", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-exp-cat").load('/expense-cattegory/remove', {
                name: name
            }); 
        });

        $("#remove-inc-cat").on("click", ".confirm-remove", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-inc-cat").load('/income-cattegory/destroy', {
                 name: name
            }); 
        });

        $("#remove-exp-cat").on("click", ".confirm-remove", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-exp-cat").load('/expense-cattegory/destroy', {
                 name: name
            }); 
        });

        $("#remove-pay-met").on("click", ".confirm-remove", function(){
            var name = $(this).attr("name").replaceAll("-"," ");
            $("#remove-pay-met").load('/payment-method/destroy', {
                 name: name
            }); 
        });

        $(document).on('change', ".cattegory-limit" ,function()
        {
            if(this.checked) {
                $(".cattegory-limit-amount").removeAttr('disabled');
                $(".cattegory-limit-amount").attr('placeholder', 'podaj kwotę');
                $(".cattegory-limit-amount").attr('onfocus', 'this.placeholder=""');
                $(".cattegory-limit-amount").attr('onblur', 'this.placeholder="podaj kwotę"');
            } else {
                $(".cattegory-limit-amount").attr('disabled', true);
                $(".cattegory-limit-amount").removeAttr('placeholder');
                $(".cattegory-limit-amount").removeAttr('onfocus');
                $(".cattegory-limit-amount").removeAttr('onblur');
                $(".cattegory-limit-amount").removeAttr('value');
            }
        });

        $("#incomes-cattegories-collapse").on("click", "#new-income-cattegory", function(){
            $("#inc-cattegory").load('/income-cattegory/add');
        });

        $("#expenses-cattegories-collapse").on("click", "#new-expense-cattegory", function(){
            $("#exp-cattegory").load('/expense-cattegory/add');
        });

        $("#payment-methods-collapse").on("click", "#new-payment-method", function(){
            $("#pay-method").load('/payment-method/add');
        });


        $(document).on('submit', '#form-add-income-cattegory',function()
        {
            let name = $("#income-cattegory-name").val();
            $("#inc-cattegory").load('/income-cattegory/create',{
                name: name
            });
            return false;
        });

        $(document).on('submit', '#form-edit-income-cattegory',function()
        {
            let name = $("#form-edit-income-cattegory input[type=text]").val();
            const id = parseInt($("#form-edit-income-cattegory input[type=text]").attr("id"));
            $("#edit-inc-cattegory").load('/income-cattegory/update',{
                id: id,
                name: name
            });
            return false;
        });

        $(document).on('submit', '#form-add-expense-cattegory',function()
        {
            let name = $("#expense-cattegory-name").val();
            if ($("#expense-cattegory-amount-check").is(':checked'))
            {
                let cattegory_limit = $("#expense-cattegory-amount").val();
                $("#exp-cattegory").load('/expense-cattegory/create',{
                name: name,
                cattegory_limit: cattegory_limit,
                is_set_limit: true
            }, function(){
                $(".cattegory-limit-amount").removeAttr('disabled');
            });
            }
            else {
                $("#exp-cattegory").load('/expense-cattegory/create',{
                name: name
            });
            }
            return false;
        });

        $(document).on('submit', '#form-edit-expense-cattegory',function()
        {
            let name = $("#form-edit-expense-cattegory input[type=text]").val();
            const id = parseInt($("#form-edit-expense-cattegory input[type=text]").attr("id"));
            var is_set_limit = $("#form-edit-expense-cattegory input[type=checkbox]").is(":checked");
            var cattegory_limit = null;

            if (is_set_limit)
            {
                is_set_limit = 1;
                cattegory_limit = parseFloat($("#form-edit-expense-cattegory input[type=number]").val());
            }
            else
            {
                is_set_limit = 0;
            }

            $("#edit-exp-cattegory").load('/expense-cattegory/update',{
                id: id,
                name: name,
                is_set_limit: is_set_limit,
                cattegory_limit: cattegory_limit
            });
            
            return false;
        });

        $(document).on('submit', '#form-add-payment-method',function()
        {
            let name = $("#payment-method-name").val();
            $("#pay-method").load('/payment-method/create',{
                name: name
            });
            return false;
        });

        $(document).on('submit', '#form-edit-payment-method',function()
        {
            let name = $("#form-edit-payment-method input[type=text]").val();
            const id = parseInt($("#form-edit-payment-method input[type=text]").attr("id"));
            $("#edit-pay-method").load('/payment-method/update',{
                id: id,
                name: name
            });
            return false;
        });

        $('#add-income-cattegory').on('hidden.bs.modal', function () {
            $("#incomes-cattegories-collapse").load('settings/load-incomes-cattegories');
        });

        $('#edit-income-cattegory').on('hidden.bs.modal', function () {
            $("#incomes-cattegories-collapse").load('settings/load-incomes-cattegories');
        });

        $('#remove-income-cattegory').on('hidden.bs.modal', function () {
            $("#incomes-cattegories-collapse").load('settings/load-incomes-cattegories');
        });

        $('#add-expense-cattegory').on('hidden.bs.modal', function () {
            $("#expenses-cattegories-collapse").load('settings/load-expenses-cattegories');
        });

        $('#edit-expense-cattegory').on('hidden.bs.modal', function () {
            $("#expenses-cattegories-collapse").load('settings/load-expenses-cattegories');
        });

        $('#remove-expense-cattegory').on('hidden.bs.modal', function () {
            $("#expenses-cattegories-collapse").load('settings/load-expenses-cattegories');
        });
        
        $('#add-payment-method').on('hidden.bs.modal', function () {
            $("#payment-methods-collapse").load('settings/load-payment-methods');
        });

        $('#edit-payment-method').on('hidden.bs.modal', function () {
            $("#payment-methods-collapse").load('settings/load-payment-methods');
        });

        $('#remove-payment-method').on('hidden.bs.modal', function () {
            $("#payment-methods-collapse").load('settings/load-payment-methods');
        });

        $(document).on('click', 'button.edit-data', function(){
            $("#edit-user-data").load('settings/edit-user-data');
        });
        $(document).on('click', 'button.change-password', function(){
            $("#change-pass").load('password/change-password');
        });
        $(document).on('click', 'button.remove-each-incomes-and-expenses', function(){
            $("#remove-each-inc-and-exp").load('settings/remove-incomes-and-expenses');
        });
        $(document).on('click', 'button.delete-account', function(){
            $("#confirm-delete-account").load('settings/delete-account');
        });

    });

    
    
</script>

{% endblock %}

{% block main %}

<div id="main-content" class="py-3 height-navbar">
    <div class="container-fluid">
        <div class="row align-items-start justify-content-center">
            <div class="col-md-7 py-4">
                <div class="card border-primary">
                    <div class="card-header bg-primary py-2 text-light text-center text-capitalize">
                        <h3 class="h5 m-0"><i class="icon-cog"></i>ustawienia</h3>
                    </div>
                    <div class="card-body border-primary py-3">
                       
                        <div class="accordion" id="accordion">
                            <article>
                                <div id="incomes-cattegories">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#incomes-cattegories-collapse" aria-expanded="false" aria-controls="incomes-cattegories-collapse"> <span class="px-2"><i class="icon-dollar"></i></span>kategorie przychodów</button>
                                </div>
                                <div id="incomes-cattegories-collapse" class="collapse" aria-labelledby="incomes-cattegories" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące kategorie: </h4>
                                    
                                        {% for cattegory in incomeCattegories %}
                                        
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ cattegory.name }}</p>
                                                </div>

                                                {% if cattegory.name != "inne" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light income-cattegory-edit" id="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="edytuj kategorię" data-toggle="modal" data-target="#edit-income-cattegory"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light remove-income-cattegory" name="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="usuń kategorię" data-toggle="modal" data-target="#remove-income-cattegory"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-income-cattegory" data-toggle="modal" data-target="#add-income-cattegory"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj kategorię</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="expenses-cattegories">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#expenses-cattegories-collapse" aria-expanded="false" aria-controls="expenses-cattegories-collapse"> <span class="px-2"><i class="icon-basket"></i></span>kategorie wydatków</button>
                                </div>
                                <div id="expenses-cattegories-collapse" class="collapse" aria-labelledby="expenses-cattegories" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące kategorie: </h4>
                                    
                                        {% for cattegory in expenseCattegories %}
                                    
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ cattegory.name }}</p>
                                                    {% if cattegory.is_set_limit == 1 %}
                                                    <p class="m-0 cattegory-limit"> limit: {{ cattegory.cattegory_limit }} zł</p>
                                                    {% endif %}
                                                </div>

                                                {% if cattegory.name != "inne" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light expense-cattegory-edit" id="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="edytuj kategorię" data-toggle="modal" data-target="#edit-expense-cattegory"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light remove-expense-cattegory" name="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="usuń kategorię" data-toggle="modal" data-target="#remove-expense-cattegory"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-expense-cattegory" data-toggle="modal" data-target="#add-expense-cattegory"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj kategorię</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="payment-methods">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#payment-methods-collapse" aria-expanded="false" aria-controls="payment-methods-collapse"> <span class="px-2"><i class="icon-money"></i></span>metody płatności</button>
                                </div>
                                <div id="payment-methods-collapse" class="collapse" aria-labelledby="payment-methods" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące metody płatności: </h4>
                                    
                                        {% for method in paymentMethods %}
                                    
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ method.name }}</p>
                                                </div>

                                                {% if method.name != "inna" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light payment-method-edit" id="{{ method.name|replace({' ': '-'}) }}" href="#" title="edytuj metodę" data-toggle="modal" data-target="#edit-payment-method"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light remove-payment-method"  name="{{ method.name|replace({' ': '-'}) }}" href="#" title="usuń metodę" data-toggle="modal" data-target="#remove-payment-method"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-payment-method" data-toggle="modal" data-target="#add-payment-method"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj metodę płatności</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="user-edit">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#user-edit-collapse" aria-expanded="false" aria-controls="user-edit-collapse"> <span class="px-2"><i class="icon-user"></i></span>użytkownik</button>
                                </div>
                                <div id="user-edit-collapse" class="collapse" aria-labelledby="user-edit" data-parent="#accordion">
                                    <div class="small">
                                        <div class="py-4">
                                        <p class="mb-3 border-bottom border-primary">nazwa użytkownika: <span class="font-weight-bold"> {{ current_user.login }} </span> </p>
                                        <p class="mb-3 border-bottom border-primary">adres email: <span class="font-weight-bold"> {{ current_user.email }} </span> </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-primary edit-data" data-toggle="modal" data-target="#edit-data"><span class="px-2" ><i class="icon-user"></i></span>edytuj swoje dane</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-primary change-password" data-toggle="modal" data-target="#change-password"><span class="px-2"><i class="icon-lock"></i></span>zmień hasło</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-danger remove-each-incomes-and-expenses" data-toggle="modal" data-target="#remove-each-incomes-and-expenses"><span class="px-2"><i class="icon-trash"></i></span>usuń wszystkie przychody i wydatki</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-danger delete-account" data-toggle="modal" data-target="#delete-account"><span class="px-2"><i class="icon-user-times"></i></span>usuń konto</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </article>

                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}