{% extends "loggedBase.html" %}

{% block footer %}

<div class="modal bd-example-modal-sm fade" id="edit-income-cattegory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edytuj kategorię</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="anotherPeriod">
                    <label class="control-label mb-1">Nazwa kategorii:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="text" name="name" id="income-cattegory" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <button type="submit" class="btn btn-outline-success py-1"><i class="icon-plus-circled"></i>zatwierdź</button>
                        <button type="button" class="btn btn-outline-danger py-1" data-dismiss="modal"><i class="icon-cancel-circled"></i>anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-income-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="inc-cattegory"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-expense-cattegory">
    <div class="modal-dialog">
        <div class="modal-content" id="exp-cattegory"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade in" data-backdrop="static" id="add-payment-method">
    <div class="modal-dialog">
        <div class="modal-content" id="pay-method"></div>
    </div>   
</div>

<div class="modal bd-example-modal-sm fade" id="edit-expense-cattegory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edytuj kategorię</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="anotherPeriod">
                    <label class="control-label mb-1">Nazwa kategorii:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="text" name="expense-cattegory" id="expense-cattegory" class="form-control" required>
                    </div>
                    <div class="checkbox mt-2">
                        <label class="mb-0"> 
                            <input type="checkbox" name="cattegory-limit" class="cattegory-limit"/> Włącz limit kategorii
                        </label>
                    </div>
                    <div class="input-group my-1 w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-2"><i class="icon-money"></i></span>
                        </div>
                        <input type="number" name="cattegory-limit-amount" id="cattegory-limit-amount" step="0.01" class="form-control cattegory-limit-amount" disabled>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <button type="submit" class="btn btn-outline-success py-1"><i class="icon-plus-circled"></i>zatwierdź</button>
                        <button type="button" class="btn btn-outline-danger py-1" data-dismiss="modal"><i class="icon-cancel-circled"></i>anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-sm fade" id="edit-payment-method">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edytuj metodę płatności</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="anotherPeriod">
                    <label class="control-label mb-1">Nazwa metody płatności:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-2"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="text" name="payment-method" id="payment-method" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-success py-1"><i class="icon-plus-circled"></i>zatwierdź</button>
                        <button type="button" class="btn btn-outline-danger py-1" data-dismiss="modal"><i class="icon-cancel-circled"></i>anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {

        /*{% for cattegory in incomeCattegories %}

        {% set cattegoryName =  "#" ~ cattegory.name|replace({' ': '-'})  %}
            
        $('{{ cattegoryName }}').click(function(){
            $("#income-cattegory").attr("value", "{{ cattegory.name }}");
        });

        {% endfor %}

        {% for cattegory in expenseCattegories %}

        {% set cattegoryName =  "#" ~ cattegory.name|replace({' ': '-'})  %}
            
        $('{{ cattegoryName }}').click(function(){
            $("#expense-cattegory").attr("value", "{{ cattegory.name }}");
        });

        {% endfor %}

        {% for method in paymentMethods %}

        {% set methodName =  "#" ~ method.name|replace({' ': '-'})  %}
            
        $('{{ methodName }}').click(function(){
            $("#payment-method").attr("value", "{{ method.name }}");
        });

        {% endfor %}*/

        $("#incomes-cattegories-collapse").on("click", ".income-cattegory-edit", function(){
            var a = $(this).parent().siblings().children().first().text();
            $("#edit-income-cattegory input[type=text]").attr("value", a);
        });

        $("#payment-methods-collapse").on("click", ".payment-method-edit", function(){
            var a = $(this).parent().siblings().children().first().text();
            $("#edit-payment-method input[type=text]").attr("value", a);
        });

        $(document).on('change', ".cattegory-limit" ,function()
        {
            if(this.checked) {
                $(".cattegory-limit-amount").removeAttr('disabled');
                $(".cattegory-limit-amount").attr('placeholder', 'podaj kwotę');
                $(".cattegory-limit-amount").attr('onfocus', 'this.placeholder=""');
                $(".cattegory-limit-amount").attr('onblur', 'this.placeholder="podaj kwotę"');
            } else {
                $(".cattegory-limit-amount").attr('disabled', true);
                $(".cattegory-limit-amount").removeAttr('placeholder');
                $(".cattegory-limit-amount").removeAttr('onfocus');
                $(".cattegory-limit-amount").removeAttr('onblur');
                $(".cattegory-limit-amount").removeAttr('value');
            }
        });

        $("#incomes-cattegories-collapse").on("click", "#new-income-cattegory", function(){
            $("#inc-cattegory").load('/income-cattegory/render-add-modal');
        });

        $("#expenses-cattegories-collapse").on("click", "#new-expense-cattegory", function(){
            $("#exp-cattegory").load('/expense-cattegory/render-add-modal');
        });

        $("#payment-methods-collapse").on("click", "#new-payment-method", function(){
            $("#pay-method").load('/payment-method/render-add-modal');
        });


        $(document).on('submit', '#form-add-income-cattegory',function()
        {
            let name = $("#income-cattegory-name").val();
            $("#inc-cattegory").load('/income-cattegory/create',{
                name: name
            });
            return false;
        });

        $(document).on('submit', '#form-add-expense-cattegory',function()
        {
            let name = $("#expense-cattegory-name").val();
            if ($("#expense-cattegory-amount-check").is(':checked'))
            {
                let amount = $("#expense-cattegory-amount").val();
                $("#exp-cattegory").load('/expense-cattegory/create',{
                name: name,
                amount: amount,
                check: true
            }, function(){
                $(".cattegory-limit-amount").removeAttr('disabled');
            });
            }
            else {
                $("#exp-cattegory").load('/expense-cattegory/create',{
                name: name
            });
            }
            return false;
        });

        $(document).on('submit', '#form-add-payment-method',function()
        {
            let name = $("#payment-method-name").val();
            $("#pay-method").load('/payment-method/create',{
                name: name
            });
            return false;
        });

        $('#add-income-cattegory').on('hidden.bs.modal', function () {
            $("#incomes-cattegories-collapse").load('settings/load-incomes-cattegories');
            //$("#inc-cattegory").load('/income-cattegory/render-add-modal');
        });

        $('#add-expense-cattegory').on('hidden.bs.modal', function () {
            $("#expenses-cattegories-collapse").load('settings/load-expenses-cattegories');
            $("#exp-cattegory").load('/expense-cattegory/render-add-modal');
            $(".cattegory-limit").prop('checked', false);
            $(".cattegory-limit-amount").attr('disabled', true);
            $(".cattegory-limit-amount").removeAttr('placeholder');
            $(".cattegory-limit-amount").removeAttr('onfocus');
            $(".cattegory-limit-amount").removeAttr('onblur');
        });

        $('#edit-expense-cattegory').on('hidden.bs.modal', function () {
            $(".cattegory-limit").prop('checked', false);
            $(".cattegory-limit-amount").attr('disabled', true);
            $(".cattegory-limit-amount").removeAttr('placeholder');
            $(".cattegory-limit-amount").removeAttr('onfocus');
            $(".cattegory-limit-amount").removeAttr('onblur');
        });

        
        $('#add-payment-method').on('hidden.bs.modal', function () {
            $("#payment-methods-collapse").load('settings/load-payment-methods');
            $("#pay-method").load('/payment-method/render-add-modal');
        });


    });

    
    
</script>

{% endblock %}

{% block main %}

<div id="main-content" class="py-3 height-navbar">
    <div class="container-fluid">
        <div class="row align-items-start justify-content-center">
            <div class="col-md-7 py-4">
                <div class="card border-primary">
                    <div class="card-header bg-primary py-2 text-light text-center text-capitalize">
                        <h3 class="h5 m-0"><i class="icon-cog"></i>ustawienia</h3>
                    </div>
                    <div class="card-body border-primary py-3">
                       
                        <div class="accordion" id="accordion">
                            <article>
                                <div id="incomes-cattegories">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#incomes-cattegories-collapse" aria-expanded="false" aria-controls="incomes-cattegories-collapse"> <span class="px-2"><i class="icon-dollar"></i></span>kategorie przychodów</button>
                                </div>
                                <div id="incomes-cattegories-collapse" class="collapse" aria-labelledby="incomes-cattegories" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące kategorie: </h4>
                                    
                                        {% for cattegory in incomeCattegories %}
                                        
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ cattegory.name }}</p>
                                                </div>

                                                {% if cattegory.name != "inne" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light income-cattegory-edit" id="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="edytuj kategorię" data-toggle="modal" data-target="#edit-income-cattegory"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light" href="#" title="usuń kategorię"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-income-cattegory" data-toggle="modal" data-target="#add-income-cattegory"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj kategorię</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="expenses-cattegories">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#expenses-cattegories-collapse" aria-expanded="false" aria-controls="expenses-cattegories-collapse"> <span class="px-2"><i class="icon-basket"></i></span>kategorie wydatków</button>
                                </div>
                                <div id="expenses-cattegories-collapse" class="collapse" aria-labelledby="expenses-cattegories" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące kategorie: </h4>
                                    
                                        {% for cattegory in expenseCattegories %}
                                    
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ cattegory.name }}</p>
                                                    {% if cattegory.is_set_limit == 1 %}
                                                    <p class="m-0"> limit : {{ cattegory.cattegory_limit }} zł</p>
                                                    {% endif %}
                                                </div>

                                                {% if cattegory.name != "inne" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light" id="{{ cattegory.name|replace({' ': '-'}) }}" href="#" title="edytuj kategorię" data-toggle="modal" data-target="#edit-expense-cattegory"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light" href="#" title="usuń kategorię"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-expense-cattegory" data-toggle="modal" data-target="#add-expense-cattegory"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj kategorię</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="payment-methods">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#payment-methods-collapse" aria-expanded="false" aria-controls="payment-methods-collapse"> <span class="px-2"><i class="icon-money"></i></span>metody płatności</button>
                                </div>
                                <div id="payment-methods-collapse" class="collapse" aria-labelledby="payment-methods" data-parent="#accordion">
                                    <div class="small">
                                        <h4 class="py-1 h6 font-weight-bold">Istniejące metody płatności: </h4>
                                    
                                        {% for method in paymentMethods %}
                                    
                                        <div class="container-fluid">
                                            <div class="border table-primary rounded my-1 row">
                                                <div class="col-10">
                                                    <p class="font-weight-bold py-1 mb-1">{{ method.name }}</p>
                                                </div>

                                                {% if method.name != "inna" %}

                                                <div class="col-2 d-flex justify-content-end align-items-center px-1">
                                                    <a class="mx-1 bg-info text-light payment-method-edit" id="{{ method.name|replace({' ': '-'}) }}" href="#" title="edytuj metodę" data-toggle="modal" data-target="#edit-payment-method"><i class="icon-edit"></i></a>
                                                    <a class="mx-1 bg-danger text-light" href="#" title="usuń metodę"><i class="icon-trash"></i></a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        
                                        {% endfor %}

                                        <button type="button" class="btn btn-block btn-primary my-3" id="new-payment-method" data-toggle="modal" data-target="#add-payment-method"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj metodę płatności</button>
                                    
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div id="user-edit">
                                    <button class="settings-btn btn btn-block text-left btn-success px-1 py-2 my-2" type="button" data-toggle="collapse" data-target="#user-edit-collapse" aria-expanded="false" aria-controls="user-edit-collapse"> <span class="px-2"><i class="icon-user"></i></span>użytkownik</button>
                                </div>
                                <div id="user-edit-collapse" class="collapse" aria-labelledby="user-edit" data-parent="#accordion">
                                    <div class="small">
                                        <div class="py-4">
                                        <p class="mb-3 border-bottom border-primary">nazwa użytkownika: <span class="font-weight-bold"> {{ current_user.login }} </span> </p>
                                        <p class="mb-3 border-bottom border-primary">adres email: <span class="font-weight-bold"> {{ current_user.email }} </span> </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-primary"><span class="px-2"><i class="icon-user"></i></span>edytuj swoje dane</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-primary"><span class="px-2"><i class="icon-lock"></i></span>zmień hasło</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-danger"><span class="px-2"><i class="icon-trash"></i></span>usuń wszystkie przychody i wydatki</button>
                                            </div>
                                            <div class="col-xl-6 my-1">
                                                <button type="button" class="btn btn-block btn-danger"><span class="px-2"><i class="icon-user-times"></i></span>usuń konto</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </article>

                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}