<div class="small">
    <h4 class="py-1 h6 font-weight-bold">Istniejące metody: </h4>

    {% for method in paymentMethods %}
    
    <div class="container-fluid">
        <div class="border table-primary rounded my-1 row">
            <div class="col-10">
                <p class="font-weight-bold py-1 mb-1">{{ method.name }}</p>
            </div>

            {% if method.name != "inna" %}

            <div class="col-2 d-flex justify-content-end align-items-center px-1">
                <a class="mx-1 bg-info text-light" id="{{ method.name|replace({' ': '-'}) }}" href="#" title="edytuj metodę" data-toggle="modal" data-target="#edit-payment-method"><i class="icon-edit"></i></a>
                <a class="mx-1 bg-danger text-light" href="#" title="usuń metodę"><i class="icon-trash"></i></a>
            </div>

            {% endif %}

        </div>
    </div>
    
    {% endfor %}

    <button type="button" class="btn btn-block btn-primary my-3" id="new-payment-method" data-toggle="modal" data-target="#add-payment-method"><span class="px-2"><i class="icon-plus-circled"></i></span>dodaj metodę</button>

</div>